<div class="flex items-center justify-between px-4 py-3 sm:px-6">
  <%# FIXME: Spotify doesn't return "before" cursor in their API! Even though it's documented. Keep client state here. %>
  <div class="flex flex-1 justify-between">
    <a
      class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >Previous</a
    >
    <a
      href="<%= "#{request.path}?after=#{pagination[:after]}" %>"
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >Next</a
    >
  </div>
</div>
