<div class="flex items-center justify-between px-4 py-3 sm:px-6">
  <div class="flex flex-1 justify-between">
    <a
      href="<%= "#{request.path}?page=#{pagination.previous_page}" %>"
      class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >Previous</a
    >
    <a
      href="<%= "#{request.path}?page=#{pagination.next_page}" %>"
      class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >Next</a
    >
  </div>
</div>
