<div class="p-12 grid justify-center items-center bg-green-50 min-h-screen">
  <h1 class="text-4xl font-semibold">Login</h1>
  <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>


</div>